{% extends "layout.html" %} {% block body %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('     {{url_for('static', filename='img/home-bg.jpg')}}         ')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Explore The World Out</h1>
                    <span class="subheading">All Posts</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for data in datas %}
            <div class="post-preview">
                <a href="/post/{{data.sl_no}}">
                    <h2 class="post-title">
                        {{data.title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{data.body[0:30]}}......
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">{{data.wr_by}}</a> on {{data.date}}</p>
            </div>
            <hr> {% endfor %}
        </div>
    </div>
</div>

{% endblock %}